{{#with dataset}}
    <form  method="get" >
{{#each displayData}}
        {{#each this.data}}
                {{formElement this @root.dataset}}
        {{/each}}
{{/each}}
    <input type='submit' >
</form>
{{/with}}