<div class='formField {{this.style}}'>

<label >{{this.columnOptions.header}}
<input type="date"  name='{{this.column}}' value='{{this.value}}'
    {{#if columnOptions.required}}required{{/if}}
/>
</label>
</div>
