:root {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: var(--color-1);
}

header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-2);
    box-shadow: 5px 0 5px var(--color-5);
}

.logo {
    width: 20vw;
}

.company_name {
    width: 80vw;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

nav {
    top: 0;
    position: sticky;
    text-align: center;
    z-index: 2;
    height: 100vh;
    background-color: var(--color-2);
    box-shadow: 0px 5px 5px var(--color-5);
}

.hide_button {
    margin: 0%;
    min-width: 0vw;
    text-align: end;
    position: absolute;
    left: 0%;
    z-index: 100;
  }

.hide_button h1 {
    margin: 0;
}

main {
    margin: 2%;
    flex-basis: 80vw;
    flex-grow: 1;
    overflow-x: hidden;
}
