:root {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: var(--color-1);
    color: var(--color-text);
}

.logo {
    max-height: 15vh;
    width: 20vw;
    & > img {
        width: auto;
        max-height: 15vh;
        object-fit: contain;
    }
}

.company_name {
    width: 80vw;
    text-align: center;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-2);
    box-shadow: 5px 0 5px var(--color-5);
}

.container {
    display: flex;
    justify-content: center;
}

nav {
    width: 25vw;
    text-align: center;
    z-index: 2;
    height: 100vh;
    box-shadow: 0px 5px 5px var(--color-5);
    overflow: hidden;
    transition: all 1s ease;
}


main {
    flex-basis: 80vw;
    flex-grow: 1;
    overflow-x: hidden;
}