:root {
    --color-primary: #ddd8c4;
    --color-secondary : #50808e;
    --color-tertiary : #68a195;
    --color-quaternary : #a3c9a8;
    --color-quinary : #84b59f;
    --color-text-dark : #000000;
    --color-text-light : #ffffff;
}