:root {
    --color-1: rgb(237, 242, 247);
    --color-1-alpha : rgba(237, 242, 247, 0.4);
    --color-2 : rgb(143, 162, 202);
    --color-2-alpha : rgba(143, 162, 202, 0.9);
    --color-3 : rgb(181, 198, 184);
    --color-4 : rgb(228, 232, 244);
    --color-5 : rgb(72, 82, 61);
    --color-text: rgb(72, 82, 61);
    --color-warning: red;
    --color-emphasis: green;
    --xmark : url('/reporting/icons/xmark-solid.svg');
    --arrow : url('/reporting/icons/arrow-right-solid.svg');
    --bars : url('/reporting/icons/bars-solid.svg');
}