<html >
<head>
<title>{{name}}</title>
    <link rel="stylesheet" href="/css/report.css" >
    <link rel="stylesheet" href="/css/custom.css" >
    <script src="/js/report.js"></script>
</head>
<body>
{{{body}}}
</body>

</html>
