:root {
  --color-1-light: rgb(237, 242, 247);
  --color-2-light: rgb(143, 162, 202);
  --color-2-alpha-light: rgba(143, 162, 202, 0.3);
  --color-3-light: rgb(181, 198, 184);
  --color-4-light: rgb(228, 232, 244);
  --color-5-light: rgb(72, 82, 61);
  --color-text-light: rgb(181, 181, 181);
  --xmark-light: url("/icons/xmark-solid.svg");
  --arrow-light: url("/icons/arrow-right-solid.svg");
  --color-1-dark: rgb(38, 50, 56);
  --color-2-dark: rgb(18, 25, 29);
  --color-2-alpha-dark: rgba(18, 25, 29, 0.3);
  --color-3-dark: rgb(101, 43, 120);
  --color-4-dark: rgb(56, 74, 83);
  --color-5-dark: rgb(17, 17, 17);
  --color-text-dark: rgb(72, 82, 61);
  --xmark-dark: url("/icons/xmark-solid-light.svg");
  --arrow-dark: url("/icons/arrow-right-solid-light.svg");
  --color-1: var(--color-1-light);
  --color-2: var(--color-2-light);
  --color-2-alpha: var(--color-2-alpha-light);
  --color-3: var(--color-3-light);
  --color-4: var(--color-4-light);
  --color-5: var(--color-5-light);
  --color-text: var(--color-text-dark);
  --xmark: var(--xmark-light);
  --arrow: var(--arrow-light);
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0%;
  background-color: var(--color-1);
  color: var(--color-text);
}

.logo {
  max-height: 10vh;
  width: 20vw;
}
.logo > img {
  width: auto;
  max-height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.report_name {
  height: 10vh;
  width: 80vw;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-1);
  z-index: 10;
  transition: 0.5s all;
}

.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 5px 0px var(--color-5);
}

.container {
  display: flex;
  justify-content: center;
}

nav {
  width: 25vw;
  text-align: center;
  overflow: hidden;
  transition: all 1s ease;
}

main {
  flex-basis: 80vw;
  flex-grow: 1;
  overflow-x: hidden;
}

.dataset_table {
  border-collapse: collapse;
}

.dataset_table td, .dataset_table th {
  border: 1px solid var(--color-4);
  padding: 8px;
}

.dataset_table tr:nth-child(even) {
  background-color: var(--color-4);
}

.dataset_table tr:hover {
  background-color: var(--color-3);
}

.dataset_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-3);
  color: var(--color-text);
}

.scroll > .table {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 99%;
  overflow-x: auto;
  box-shadow: 3px 3px 3px var(--color-5);
  border-radius: 10px;
  border: 1px solid var(--color-3);
}

.dataset {
  padding: 1%;
}

.dataset_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 20vw;
  height: 60vh;
  background-color: var(--color-4);
  color: var(--color-text);
  margin: 1%;
  padding: 1%;
  box-shadow: 3px 3px 3px var(--color-5);
  border-radius: 10px;
  border: 1px solid var(--color-3);
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.card:hover {
  box-shadow: 7px 7px 7px var(--color-5);
}
.card h2 {
  padding: 0;
  margin: 0;
}
.card .card_aboutme {
  overflow: hidden;
  width: 90%;
  height: 90%;
  padding: 5%;
  text-align: start;
}
.card .about_me_text {
  height: 50%;
  width: 100%;
  background-color: var(--color-1);
  overflow: hidden;
}
.card img {
  width: 7rem;
  height: 7rem;
}
.card a {
  display: block;
  overflow: hidden;
  color: var(--color-text);
  text-decoration: none;
}

form {
  width: 20vw;
  text-align: center;
  overflow: hidden;
}

.formField {
  display: flex;
  flex-direction: column;
}

label {
  font-size: medium;
  font-weight: 700;
}

input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 90%;
  background-color: var(--color-3);
  color: var(--color-text);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--color-5);
  color: var(--color-text-light);
}

.hide_button {
  margin: 0%;
  min-width: 0vw;
  text-align: end;
  position: absolute;
  left: 0%;
  z-index: 100;
}

.hide_button_right {
  margin: 0%;
  min-width: 0vw;
  text-align: end;
  position: absolute;
  right: 0;
  z-index: 100;
  rotate: 180deg;
}

.xmark {
  margin: 0%;
  min-width: 0vw;
  text-align: end;
  position: relative;
  right: 0;
  top: 0;
  z-index: 100;
  background-image: var(--xmark);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
}

.icon {
  background-image: var(--xmark);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
}

.toggled.icon {
  background-image: var(--arrow);
}

.tabs {
  display: flex;
  justify-content: start;
  background-color: var(--color-3);
}

.tab {
  padding: 0.5%;
  font-weight: 700;
  color: var(--color-text-light);
  cursor: pointer;
}
.tab:hover {
  background-color: var(--color-4);
  color: var(--color-text-dark);
}

.dataset_tab {
  display: none;
}

.left_column {
  top: 10vh;
  position: sticky;
  height: 90vh;
  background-color: var(--color-1);
  z-index: 2;
}

.float_right {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  position: sticky;
}

.checkboxes {
  margin: 2%;
  padding: 1%;
  min-width: 0vw;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: var(--color-2-alpha);
  border-radius: 10px;
  transition: all 1s ease;
}

#overlay {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, 0);
  z-index: 100;
  background-color: var(--color-3);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.hide_anim {
  width: 0;
  height: 0;
  padding: 0;
}
.hide_anim > * {
  display: none;
}

.toggle_hide:hover {
  cursor: pointer;
}

.overlay_hide {
  cursor: pointer;
}/*# sourceMappingURL=report.css.map */