.dropdown {
    top: 0;
    left: 0;
    min-width: 70px;
    min-height: 70px;
    position: fixed;
    display: inline-block;
    z-index: 20;
}

.dropdown-content {
    top: 70px;
    left: 15px;
    display: none;
    position: fixed;
    background-color: var(--color-4);
    border-radius: 15px;
    min-width: 160px;
    filter: drop-shadow(0px 0px 5px var(--color-5));
    z-index: 20;
    & input[type=text] {
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
    & ul {
        padding: 0px;
        margin: 0;
    }
    & li {
        margin: 3px 0px;
        border-radius: 10px;
    }
    & li:hover {
        background-color: var(--color-3);
        padding: 5px;
        cursor: pointer;
    }
    & a {
        text-decoration: none;
        color: var(--color-text);
    }
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


