form {
    width: 20vw;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formField {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: small;
    font-weight: 700;
}

input, select {
    width: auto;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
    border: none;
    background-color: var(--color-1-alpha);
    border-radius: 15px;
    &:focus {
        box-shadow : 0px 0px 2px var(--color-5);
        background-color: var(--color-1);
        outline-width: 0;
    }
    /* &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    } */
}

input[type=text] {
    width: 15vw;
}

input[type=date] {
    width: auto;
}


input[type=submit] {
    width: 50%;
    background-color: var(--color-4);
    color: var(--color-text);
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
        background-color: var(--color-2);
        box-shadow : 0px 0px 2px var(--color-5);
    }
}