.hidden {
    display: none;
}

.hide_anim {
    width: 0;
    height: 0;
    padding: 0;
    min-height: 0;
    max-height: 0;
    & > * {
        display: none;
    }
}

.toggle_hide:hover {
    cursor: pointer;
}

.overlay_hide {
    cursor: pointer;
}