.main-content {
    padding: 5%;
    display: flex;
    justify-content: flex-start;

    &.row {
        flex-direction: row;
        &.center {
            align-items: flex-start;
        }
    }

    &.column {
        flex-direction: column;
        &.center {
            justify-content: flex-start;
        }
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

