.dataset_table {
    border-collapse: collapse;
  }
  
.dataset_table td, .dataset_table th {
    /* border: 3px solid var(--color-3); */
    padding: 8px;
  }
  
.dataset_table tr:nth-child(even){background-color: var(--color-4);}
  
.dataset_table tr:hover {background-color: var(--color-3);}
  
.dataset_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-3);
    color: var(--color-text);
  }

.table {
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    box-shadow: 1px 1px 1px var(--color-5);
    border-radius: 3px;
    border: 1px solid var(--color-3);
}

.dataset {
  max-width: 90%;
  padding: 1%;
}

