.dataset_table {
    border-collapse: collapse;

    & td, & th {
      padding: 8px;
    }

    & tr:hover {
      background-color: var(--color-3);
    }

    & th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: var(--color-3);
      color: var(--color-text);
    }

    &.border {
      & td, & th {
        border: 3px solid var(--color-3);
      }
    }

    &.zebra {
      & tr:nth-child(even) {
        background-color: var(--color-4);
        &:hover {
          background-color: var(--color-3);
        }
      }
    }
  }

.table {
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    box-shadow: 1px 1px 1px var(--color-5);
    border-radius: 3px;
    border: 1px solid var(--color-3);
}

.dataset {
  max-width: 90%;
  padding: 1%;
}

.graph {
  box-shadow: 3px 3px 3px var(--color-5);
    border-radius: 3px;
    border: 2px solid var(--color-3);
    width: auto;
}

