:root {
  --color-1: rgb(237, 242, 247);
  --color-1-alpha: rgba(237, 242, 247, 0.4);
  --color-2: rgb(143, 162, 202);
  --color-2-alpha: rgba(143, 162, 202, 0.9);
  --color-3: rgb(181, 198, 184);
  --color-4: rgb(228, 232, 244);
  --color-5: rgb(72, 82, 61);
  --color-text: rgb(72, 82, 61);
  --color-warning: red;
  --color-emphasis: green;
  --xmark: url("/reporting/icons/xmark-solid.svg");
  --arrow: url("/reporting/icons/arrow-right-solid.svg");
  --bars: url("/reporting/icons/bars-solid.svg");
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0%;
  background-color: var(--color-4);
  color: var(--color-text);
}

header {
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-4);
  z-index: 10;
}
header > h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav {
  top: 100px;
  left: 10px;
  position: fixed;
  margin: 0;
  padding-top: 20px;
  min-height: 150px;
  max-height: 100vw;
  width: 20vw;
  text-align: center;
  overflow: hidden;
  transition: all 1s ease;
  box-shadow: 0px 0px 10px var(--color-5);
  background-color: var(--color-2-alpha);
  border-radius: 25px;
  z-index: 100;
}

main {
  background-color: var(--color-1);
  height: 85vh;
  border-radius: 15px;
  flex-basis: 80vw;
  flex-grow: 1;
  overflow-x: hidden;
}

footer {
  height: 5vh;
  background-color: var(--color-4);
}

.main-content {
  padding: 5%;
  display: flex;
  justify-content: flex-start;
}
.main-content.row {
  flex-direction: row;
}
.main-content.row.center {
  align-items: flex-start;
}
.main-content.column {
  flex-direction: column;
}
.main-content.column.center {
  justify-content: flex-start;
}
.main-content.center {
  justify-content: center;
  align-items: center;
}

.dropdown {
  top: 0;
  left: 0;
  min-width: 70px;
  min-height: 70px;
  position: fixed;
  display: inline-block;
  z-index: 200;
}

.dropdown-content {
  top: 70px;
  left: 15px;
  display: none;
  position: fixed;
  background-color: var(--color-4);
  border-radius: 15px;
  min-width: 160px;
  filter: drop-shadow(0px 0px 5px var(--color-5));
  z-index: 200;
}
.dropdown-content input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.dropdown-content ul {
  padding: 0px;
  margin: 0;
}
.dropdown-content li {
  margin: 3px 0px;
  border-radius: 10px;
}
.dropdown-content li:hover {
  background-color: var(--color-3);
  padding: 5px;
  cursor: pointer;
}
.dropdown-content a {
  text-decoration: none;
  color: var(--color-text);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
}
.logo > img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.report_name {
  width: 80vw;
  text-align: center;
}

.container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
}

/* voorlopige oplossing */
.block {
  width: 100%;
}

.main_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dataset_table {
  border-collapse: collapse;
}
.dataset_table td, .dataset_table th {
  padding: 8px;
}
.dataset_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-3);
  color: var(--color-text);
}
.dataset_table.border td, .dataset_table.border th {
  border: 3px solid var(--color-3);
}

.table {
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  box-shadow: 0px 0px 5px var(--color-5);
  border-radius: 5px;
}

.graph {
  filter: drop-shadow(0px 0px 3px var(--color-5));
  border-radius: 5px;
  width: auto;
  overflow: hidden;
}

.dataset_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: 400px;
  background-color: var(--color-4);
  color: var(--color-text);
  margin: 1%;
  padding: 0;
  filter: drop-shadow(0px 0px 3px var(--color-5));
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.card:hover {
  filter: drop-shadow(0px 0px 7px var(--color-5));
}
.card h2, .card h3 {
  padding: 3px;
  margin: 0;
}
.card .card_aboutme {
  overflow: hidden;
  width: 90%;
  height: 90%;
  padding: 5%;
  text-align: start;
}
.card .about_me_text {
  height: 50%;
  width: 100%;
  background-color: var(--color-1);
  overflow: hidden;
}
.card .card_image_container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.card .card_image_container img {
  width: 100%;
}
.card a {
  display: block;
  overflow: hidden;
  color: var(--color-text);
  text-decoration: none;
}

form {
  width: 20vw;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formField {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: small;
  font-weight: 700;
}

input, select {
  width: auto;
  padding: 5px 10px;
  margin: 0;
  display: inline-block;
  border: none;
  background-color: var(--color-1-alpha);
  border-radius: 3px;
  /* &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  } */
}
input:focus, select:focus {
  box-shadow: 0px 0px 2px var(--color-5);
  background-color: var(--color-1);
  outline-width: 0;
}

input[type=text] {
  width: 15vw;
}

input[type=date] {
  width: auto;
}

input[type=submit] {
  width: 50%;
  background-color: var(--color-4);
  color: var(--color-text);
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--color-3);
  box-shadow: 0px 0px 2px var(--color-5);
}

.hide_button {
  margin: 0%;
  min-width: 0vw;
  text-align: end;
  position: absolute;
  left: 10px;
  top: 100px;
  z-index: 110;
}

.xmark {
  margin: 0%;
  min-width: 0vw;
  text-align: end;
  position: relative;
  right: 0;
  top: 0;
  z-index: 100;
  background-image: var(--xmark);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--color-2);
  background-image: var(--bars);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.icon {
  background-image: var(--xmark);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
}

.toggled.ball {
  background-image: var(--xmark);
  background-color: transparent;
  transition: background-color 1s;
}

.tabs {
  display: flex;
  justify-content: start;
  background-color: var(--color-3);
}

.tab {
  padding: 0.5%;
  font-weight: 700;
  color: var(--color-text-light);
  cursor: pointer;
}
.tab:hover {
  background-color: var(--color-4);
  color: var(--color-text-dark);
}

.dataset_tab {
  display: none;
}

.left_column {
  top: 5em;
  min-width: 25px;
  margin-top: 3em;
  position: sticky;
  background-color: var(--color-4);
  z-index: 2;
}

.hidden {
  display: none;
}

.hide_anim {
  width: 0;
  height: 0;
  padding: 0;
  min-height: 0;
  max-height: 0;
}
.hide_anim > * {
  display: none;
}

.hide_menu {
  background-color: transparent;
  box-shadow: 0px 0px 0px var(--color-5);
  width: 50px;
  height: 50px;
  padding: 0;
  min-height: 0;
  max-height: 0;
}
.hide_menu > * {
  display: none;
}

.toggle_hide:hover {
  cursor: pointer;
}

.dataset_div {
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  filter: drop-shadow(0px 0px 5px var(--color-5));
  border-radius: 5px;
  border: 2px solid var(--color-3);
}

.dataset_list {
  width: fit-content;
  padding: 1em;
}
.dataset_list ul {
  list-style-type: none;
}
.dataset_list ul.markings {
  list-style-type: disc;
}
.dataset_list.markings ul {
  list-style-type: disc;
}

.border {
  border: 1px solid var(--color-3);
  filter: drop-shadow(0px 0px 5px var(--color-5));
  border-radius: 3px;
}

.dataset {
  max-width: 100%;
  padding: 1%;
}

.zebra tr:nth-child(even) {
  background-color: var(--color-4);
}
.zebra tr:nth-child(even).highlight {
  background-color: var(--color-3);
}
.zebra tr:nth-child(even).warning {
  background-color: var(--color-warning);
}

.highlight {
  background-color: var(--color-3);
}

.warning {
  background-color: var(--color-warning);
}

.emphasis {
  font-weight: bold;
  border: 3px solid var(--color-emphasis);
}

.paging a {
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text);
  padding: 2px 5px;
  border-radius: 2px;
  transition: background-color 0.5s ease;
  transition: font-weight 0.5s ease;
}
.paging a.active {
  background-color: var(--color-2);
}
.paging a:hover:not(.active) {
  background-color: var(--color-2-alpha);
  font-weight: 700;
}/*# sourceMappingURL=report.css.map */